<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "show", types:"text/css" %>
    <title>出家したい人のための情報サイト「成仏センス」</title>
  </head>
  <body id="page_temple">
    <%= yield %>
  </body>
</html>
